.landing{
    background-image: url(../assets/bag.jpg);
    
}
.header{
    color: white;
    text-align: center;
    padding-top: 200px;
    font-size: 50px;
}
.land{
    background-color: rgba(0, 0, 70, 0.7);
    height: 900px;
    text-align: center;

}
#logo{
    border-radius: 50%;
    
}