<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
  
    
      
</div>
<div class="row">
  <div class="col-md-6">
    <ul>
      <li *ngFor='let quote of quotes;let i = index' class="single-quote">
        <p id="name">"{{quote.quote}}"</p>
        <p>Author:{{quote.author}}</p>
        <app-quote-detail [quote]='quote' (isComplete) = 'completeQuote($event,i)'></app-quote-detail><br>
        <button class="btn btn-success"> <i class="fa fa-thumbs-up"></i></button>  
        <button class="btn btn-danger dislike"> <i class="fa fa-thumbs-down"></i></button>
      </li>

    </ul>

  </div>
  <div class="col-md-6">
    <app-main-form (addQuote)="add($event)"></app-main-form>
  </div>

</div>